# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://gitlab.com/pycqa/flake8
    rev: 434c108f7491b589362752b12979741598bb2dff
    hooks:
    -   id: flake8
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3.8
